* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    color: #fff;
    margin-right: 20vh;
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    position: fixed;
    border-bottom: 1px solid rgb(155, 26, 26);
    background-color: rgb(15, 15, 15);
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
header .img{
    padding: 0;
    margin: 0
}

.escudo{
    margin: 0;
    padding: 0;
    margin-left: 10px;
    height: 60px;
    width: 55px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1.99vh;
}

.antares{
    display: flex;
    color: gainsboro;
    font-size: 2em;
    user-select: none;
    transition: 1s;
}

.navegacion{
    margin-left: 0;
}

.navegacion .a{
    position: relative;
    font-size: 1.1em;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navegacion .a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, rgb(155,26,26) 28%,rgb(0,6,102) 100%);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navegacion .a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}
.btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 1px solid rgb(155, 26, 26);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(206, 37, 37);
    font-weight: 700;
    margin-left: 40px;
    transition: .5s;
}

.btnLogin-popup:hover{
    background: linear-gradient(to right, rgb(155,26,26) 28%,rgb(0,6,102) 100%);
    color: whitesmoke;
}

.btnLogin-popup i {
    margin: -1px 0 0 10px;
    float: left;
    font-size: 1.4em;
}


.container {
    border: solid 1px rgba(255, 255, 255, 0.2);
    
}

table {
    
    color: #fff;
    font-size: 25px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background: linear-gradient(to right, rgb(26,30,140)9%,rgb(26,30,140)42%,rgb(99,0,22)61%,rgb(76,0,5)100%);

}

th {
    padding: 20px 15px ;
    font-weight: 700;
    text-transform: uppercase;
   
}

td {
    padding: 15px;
    border-bottom: linear-gradient(to right, rgb(26,30,140)9%,rgb(26,30,140)42%,rgb(99,0,22)61%,rgb(76,0,5)100%);
   
}


tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: linear-gradient(to right, rgb(26,30,140)9%,rgb(26,30,140)42%,rgb(99,0,22)61%,rgb(76,0,5)100%);

}